body {
    margin: 0;
}

#header {
    width: 100%;
    height: 100px;
    background-color: red;
    position: fixed;
    top: 0px;
}

#logo {
    float: left;
    margin: 10px 10px 10px 10px;
    width: 100px;
    height: 60px;
    background-color: aqua;
}

#search {
    float: left;
    width: calc(100% - 240px);
    height: 60px;
    margin: 10px 0 10px 0;
    background-color: blue;
}

#search_button{
    float: right;
    margin: 10px 10px 10px 10px;
    height: 30px;
    background-color: bisque;
}

#login_btn{
    float: right;
    margin: 10px 10px 10px 10px;
    width: 100px;
    height: 60px;
    background-color: bisque;
}
#list{
    width: 100%;
    height: 900px;
    margin-top: 120px;
    background-color: yellow;
    
}
.item{
    width: calc(100% - 200px);
    height: 120px;
    margin: 20px 20px 20px 40px;
    background-color: blue;
    
}