<!DOCTYPE html>
<html>
<head>
    <title>Forkrain</title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
<p>로그인 페이지입니다.</p>

<a href="/auth/github">깃헙로그인</a>
</body>
</html>
