#header_bg {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #1E1E1E;
    opacity: 0.9;
}

#header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: calc(100% - 20px);
    margin: 10px 10px 10px 10px;
    /*background-color: #111111;*/
    border-bottom: #d2d2d2 1px solid;

}

#logo {
    background: url('/images/logo.png');
    background-size: cover;
    float: left;
    width: 40px;
    height: 40px;
    background-color: transparent;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#search {
    float: left;
    width: calc(100% - 135px);
    height: 50px;
    background-color: transparent;
    margin-right: 5px;
    vertical-align: middle;
}

#search_input {
    float: left;
    margin: 16px 10px 10px 10px;
    width: calc(100% - 60px);
    height: 28px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    opacity: 1;
    border: none;
    color: #d2d2d2;
}

#search_button {
    float: left;
    color : #c2c2c2;
    font-size: 25px;
    margin: 18px 0 0 0;
}

#right_top_btn {
    float: right;
    margin: 17px 10px 0 0;
    width: 60px;
    height: 50px;
    color: #d2d2d2;
    /*background-color: black;*/
}

#right_top_mypage_btn{
    float: right;
    width: 40px;
    height: 40px;
    /*background-color: black;*/
    background-color: transparent;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}