@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 200;
    margin: 0;
}

#background {
    margin: 0;
    width: 100%;
    height: 100vh;
    background: url('/images/background.jpg');
    background-size: cover;
    background-position: top center;
}

#contents {
    position: absolute;
    top: 55vh;
    z-index: 998;
    color: white;
    width: 100%;
}

#scroll_down {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -200px;
    left: 20px;
    z-index: 999;
    background: url('/images/scroll-down.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#scroll_desc {
    font-size: 14px;
    color : white;
    position: absolute;
    top: -180px;
    left: 80px;
    border: 1px solid white;
    padding: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

#from {
    width: 20px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0px;
    background: url('/images/from.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

#app_title {
    font-weight: 600;
    text-align: right;
    color: white;
    margin: 0 45px 0 0;
    font-size: 40px;
}

#divider {
    /*border: 1px solid white;*/
    text-align: right;
    font-size: 40px;
    margin: -10px 45px -10px 0;
}

.desc {
    margin: 0 45px 10px 0;
    text-align: right;
    color: white;
    font-size: 16px;
}

a {
    color: #00B7FF;
}
